* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #111, #222);
  color: white;
  font-family: Arial;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;

  background: black;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.hero {
  text-align: center;
  padding: 140px 20px;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero p {
  max-width: 600px;
  margin: auto;
  margin-bottom: 30px;
}

button {
padding: 15px 35px;

  border: none;

  background: cyan;

  font-size: 18px;

  border-radius: 10px;

  cursor: pointer;

  transition: 0.3s;
}

button:hover {
  background: white;
}
